<section id="intro" class="wrap">
  <p>
    NE-RPC (the North East Remote Programming Conference) is a <strong>community-organised, free-to-attend</strong> virtual conference, showcasing speakers from the North East of England and beyond.
  </p>
</section>
