<nav>
  <div class="logo">
    <a href="/"><span>></span><span class="blink">_</span> NE-RPC</a>
  </div>
  <div class="actions">
    <a href="https://twitter.com/rpc_ne">🐦 @rpc_ne</a>
    <a href="https://discord.com/invite/s94FeU7"><img src="/discord.png" height="22px" style="vertical-align: middle;" /> Discord</a>
    <a href="https://www.youtube.com/channel/UCuQ-SI-KKSys8cXYfrV6bsQ"><img src="/youtube.png" height="18px" style="vertical-align: middle;" /> YouTube</a>
  </div>
</nav>
