<section class="wrap">
  <h2>Past Events</h2>
  <ul class="past-events no-bullets">
    {{#events}}
      <li class="card {{wrapper}}">
        <a href="/{{canonical}}">
          <h3 class="past-event-june-2020">NE-RPC ><span class="blink">_</span></h3>
          <span class="past-event-name">{{name}}</span>
        </a>
      </li>
    {{/events}}
  </ul>
</section>
