<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rpc_ne" />
    <meta name="twitter:creator" content="@samhogy" />
    <meta property="og:url" content="https://ne-rpc.co.uk">
    <meta property="og:title" content="NE-RPC | North East Remote Programming Conference">
    <meta property="og:image" content="https://ne-rpc.co.uk/ne-rpc.jpg">
    <meta property="og:description" content="NE-RPC is a community-organised, free-to-attend virtual conference, showcasing speakers from the North East of England.">
    <title>NE-RPC | North East Remote Programming Conference</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="agenda.css">
  </head>
  <body>
    {{> nav }}
    {{> header}}
    <main role="main">
      {{> intro}}
      {{> past-events}}
      {{> organisers}}
      {{> code-of-conduct}}
    </main>
    {{> footer}}
  </body>
</html>