<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rpc_ne" />
    <meta name="twitter:creator" content="@samhogy" />
    <meta property="og:url" content="https://ne-rpc.co.uk">
    <meta property="og:title" content="NE-RPC | North East Remote Programming Conference">
    <meta property="og:image" content="https://ne-rpc.co.uk/ne-rpc.jpg">
    <meta property="og:description" content="NE-RPC is a community-organised, free-to-attend virtual conference, showcasing speakers from the North East of England.">
    <title>NE-RPC | North East Remote Programming Conference</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../agenda.css">
  </head>
  <body>
    {{> nav }}
    <header role="banner" class="squared-paper">
      <div class="chalkboard">
        <h1>NE-RPC</h1>
        <h2>Back 2 Sk00l</h2>
      </div>
    </header>
    <main role="main" class="wrap">
      <h1>{{name}}</h1>
      <p>As technologists we're always learning. Trends and technologies change all the time. We thought it would be a great opportunity to take the opportunity to focus on development, improvement and re-learning.</p>
      <p>We held this event on {{date}}. Below is the agenda from the day, alongside all the session videos which are free for you to watch.</p>
      <section id="speakers">
        <h2>Agenda</h2>
        <div class="row header-row">
          <div class="slot"><p>({{timezone}})</p></div>
          <div class="title grey">
            <h3>Grey Stream</h3>
            <a href="https://en.wikipedia.org/wiki/Charles_Grey,_2nd_Earl_Grey">🛈</a>
          </div>
          <div class="title davison">
            <h3>Davison Stream</h3>
            <a href="https://en.wikipedia.org/wiki/Emily_Davison">🛈</a>
          </div>
        </div>
        {{#sessions}}
          <div class="row">
            <div class="slot">{{slotStart}}</div>
            {{#rooms}}
            <div class="session">
              {{> video }}
              <a href="./{{session.canonical}}">
                <h3>{{session.title}}</h3>
                <p>
                  <img class="portrait" src="{{session.speaker.profilePicture}}" alt="{{session.speaker.fullName}} portrait">
                  <span>{{session.speaker.fullName}}</span>
                </p>
              </a>
              <ul class="tags no-bullets">
                {{#session.tags}}
                <li>{{.}}</li>
                {{/session.tags}}
              </ul>
            </div>
            {{/rooms}}
            {{#services}}
              <div class="service">
                <h3>{{name}}</h3>
                <p>{{description}}<br />{{join}}</p>
              </div>
            {{/services}}
          </div>
        {{/sessions}}
      </section>
    </main>
    {{> footer}}
  </body>
</html>