.session-detail h1 { 
  border-bottom: 1px solid var(--border);
}

.synopsis {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
}

.detail {
  flex: 2;
  margin-right: 48px;
}

.speaker {
  flex: 1;
}

.speaker img {
  display: block;
  margin: 24px 0;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 3px solid var(--alt);
}

.socials {
  text-align: left;
}

@media(max-width: 680px) {
  .synopsis {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .synopsis p {
    margin-right: 0;
  }

  .speaker img {
    margin: 12px 0;
    width: 128px;
    height: 128px;
  }
}