@import url(https://fonts.googleapis.com/css?family=VT323|Inter|Walter+Turncoat&display=swap);

:root {
  --main-focus: #FF4081;
  --alt: #007256;
  --central: #fff5f8;
  --central-alt: #CCF0E4;
  --soft: #FFD1E1;
  --dark: #2f4858;
  --border: #666;
  --soft-border: rgba(102, 102, 102, 0.3);
  --darker-gray: #eaeaea;
  --gray: #fafafa;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 16px;
  color: var(--dark);
  font-family: Inter,sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.wrap, .col-2 {
  margin: 0px auto;
  max-width: 900px;
  padding: 0 10px;
}

nav {
  background-color: var(--gray);
  border-bottom: 1px solid var(--border);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex: 0;
}

nav .logo {
  font-family: VT323, monospace;
  font-size: 1.5rem;
}

.logo a {
  color: black;
}

.logo a:hover {
  color: var(--main-focus);
}

nav span {
  color: var(--main-focus);
}

nav .actions {
  flex: 1;
  text-align: right;
}

nav .actions, nav .actions a {
  margin: 0;
}

h1,h2,h3 {
  margin: 0;
  padding: 12px 0 0 0;
  color: var(--dark);
}

a {
  text-decoration: none;
}

::selection{
  color:#fff;
  background: var(--main-focus);
}

header {
  padding: 1rem;
}

.squared-paper {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to left, #c3e0ed 1px, transparent 1px),
    linear-gradient(to top, #c3e0ed 1px, transparent 1px);
  border-bottom: 1px solid #c3e0ed;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

footer {
  background-color: var(--gray);
  border-top: 1px solid var(--border);
  color: black;
  padding: 8px 10px;
  flex: 0;
}

footer p {
  margin: 0 auto;
  max-width: 900px;
}

footer a {
  color:  var(--alt);
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.actions {
  margin: 16px 0;
  text-align: center;
}

.actions a {
  display: inline-block;
  border: 0.1em solid var(--alt);
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  color : var(--alt);
  text-align: center;
  cursor: pointer;
}

.actions a:hover {
  color:#fff;
  background-color: var(--alt);
  text-decoration: none;
}

.announcements {
  border: 1px solid var(--alt);
  background-color: var(--dark);
  border-radius: 2px;
  color: white;
  padding: 1rem;
}

#register {
  background-color: var(--dark);
  font-size: 1.2rem;
}

#register h3 {
  color: white;
}

#register .emoji {
  font-size: 8rem;
  margin: 0;
}

.col-2 {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 2.5rem 0;
}

.col-2 > div {
  margin-right: 1.5rem;
}

.button {
  width: 100%;
  display: inline-block;
  border: 0.1em solid white;
  padding: 0.35em 1.2em;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: none;
  background-color: var(--alt);
}

#organisation > div {
  display: flex;
  flex-direction: row;
}

.organisers {
  display: flex;
  flex-wrap: wrap;
}

.organiser {
  flex: 1;
  margin: 12px 12px 0 12px;
  display: inline-block;
  text-align: center;
}

.organiser img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid var(--alt);
}

.organiser a {
  font-size: 1.25rem;
  color: #000;
  font-weight: normal;
}

/* Themes */
.themes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.themes li {
  display: inline-block;
  border: 1px solid var(--soft-border);
  padding: 0rem 1rem 1rem 1rem;
  margin: 10px;
  width: 215px;
}

.themes li .emoji {
  margin: 0;
  text-align: center;
  font-size: 4rem;
}

.themes li h3 {
  text-align: center;
}

.themes li .description {
  font-size: 1rem;
  color: var(--border);
}

.video-container {
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background: var(--dark);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Past Events */
.past-events {
  height: 120px;
  font-size: 1.25rem;
}

.card {
  padding: 1rem;
  border: 2px solid var(--soft-border);
  border-radius: 4px;
  display: inline-block;
}

.past-event-name {
  background: white;
  color: black;
  text-decoration: none;
  padding: 4px;
}

.card:hover {
  border: 2px solid var(--alt);
}

/* June 2020 */
.past-event-june-2020 {
  font-family: VT323, monospace;
  font-size: 3rem;
  color: var(--main-focus);
  text-align: center;
  padding: 0;
}

.june-2020-header {
  font-family: VT323, monospace;
  font-size: 2rem;
  border-bottom: 1px solid var(--border);
  background-color: white;
  background-size: 304px;
}

.june-2020-header h1 {
  text-align: center;
  color: var(--main-focus);
  font-size: 6rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.june-2020-header p::before {
  content: "> "
}

.june-2020-header p {
  margin: 0 4px;
  padding: 0;
  color: black;
}

.circuits {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ff8cb3' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.blink {
  font-weight: bold;
  color:  var(--main-focus);
  animation: blinky 1s infinite;
}

@keyframes blinky {
  0%{   color:  var(--main-focus);    }
  49%{  color: transparent; }
  50%{  color: transparent; }
  99%{  color: transparent;  }
  100%{ color:  var(--main-focus);    }
}

/* September 2020 */
#back-to-school li {
  font-size: 1.25rem;
}

.chalkboard {
  margin: 0 auto;
  max-width: 900px;
  font-family: "Walter Turncoat", cursive;
  display: block;
  border-radius: 10px;
  border: #B78240 solid 10px;
  background-color: #497959;
  padding: 20px 30px;
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
  text-align: center;
}

.chalkboard h1 { 
  color: #E8E8E8;
  font-size: 4rem;
  padding: 0;
}

.chalkboard h2 {
  color: #FFFF00;
  font-size: 2rem;
  padding: 0;
}

.chalkboard p {
  margin: 0;
  font-size: 1.25rem;
  color: var(--central);
}

#speakers {
  background-color: white;
}

/* Responsive */
@media(max-width: 680px) {
  body {
    padding: 0;
  }

  section p, section h1, section h2, section h3, section span {
    padding-left: 10px;
    padding-right: 10px;
  }

  .chalkboard {
    margin: 12px;
  }
}

@media(max-width: 550px) {
  nav {
    flex-direction: column;
  }
}


@media(max-width: 500px) {
  nav .actions a {
    display: block;
    margin-bottom: 0.5rem;
  }

  nav .actions a:last-child {
    margin-bottom: 0;
  }
}
